// #home {
//   background-color: #D23333;
//   color: white;
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   text-align: center;
//   p {
//     margin-top: 1.5em;
//   }
//   a {
//     color: rgba(0,0,0,0.4);
//     font-weight: bold;
//     font-size: 16px;
//   }
// }


/* Header */
.large-header {
	position: relative;
	width: 100%;
  height: 80%;
  background-image: url("images/helloquence-61189.jpg");
	background: linear-gradient(to bottom, #3094f2, #0fc8c3);
	// background: -webkit-gradient(linear, 0 50%, 100% 50%, color-stop(0%, #3094f2), color-stop(100%, #0fc8c3));
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 300;
  letter-spacing: 12px;
  font-size: 65px;
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 30px;
  margin-top: 8px;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}

// Banner 2 - 3 colonnes pour expliquer la plateforme numérique
.plateforme-content {
  padding-top: 60px;
  padding-bottom: 90px;
  background-color: white;
  width: 100%;
  h1 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
    color: $grey;
  }
}

.mini-feature {
  text-align: center;
  padding-left: 46px;
  padding-right: 46px;
  padding-top: 15px;
}
.mini-feature-heading {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: $grey;
}
.mini-feature-description {
  line-height: 1.3;
  font-size: 14px;
  p {
    text-align: center;
    font-family: "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: lighter;
    margin: 0 0 11px;
  }
}

// Banner 3 - Image de la plateforme
.plateforme-feature {
  padding-top: 60px;
  // padding-bottom: 90px;
  background: linear-gradient(to bottom, #5c9db2 0%, #76c5c4 100%);
  width: 100%;
  h1 {
    text-align: center;
    font-size: 32px;
    padding-bottom: 30px;
    color: $white;
    font-weight: 400;
    margin-top: 10px;
  }
  p {
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    color: $white;
  }
  img {
    color: white;
  }
}

.plateforme-feature-content {
  padding-left: 15px;
}

.plateforme-feature-mini {
  text-align: center;
  padding-left: 46px;
  padding-right: 46px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  h3 {
    margin-top: 0;
    text-align: left;
    font-size: 16px;
  }
  p {
    font-size: 12px;
    font-weight: 100;
    text-align: left;
  }
  img {
    width: 17%;
  }
}
.plateforme-feature-mini-heading {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: $white;
  font-weight: lighter;
}
.plateforme-feature-mini-description {
  line-height: 1.3;
  font-size: 14px;
  p {
    text-align: center;
    font-family: "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: lighter;
    margin: 0 0 11px;
  }
}

.ipad-image-container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  img {
    width: 88%;
  }
}

// Banner de la formation
// .formation-content {
// 	padding-top: 60px;
//   padding-bottom: 90px;
//   background-color: white;
//   width: 100%;
//   h1 {
//     text-align: center;
//     font-size: 30px;
//     padding-bottom: 30px;
//     color: $grey;
//   }
// }
//
// .mini-formation {
// 	text-align: center;
// 	padding-left: 46px;
// 	padding-right: 46px;
// 	padding-top: 15px;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	.mini-formation-content {
// 		display: flex;
// 		align-items: center;
// 		margin-bottom: 45px;
// 	}
// 	img {
// 		width: 18%;
// 	}
// }
//
// .mini-formation-feature-content {
// 	text-align: left;
// 	padding-left: 15px;
// 	h3 {
// 		color: $grey;
// 		margin-top: 0;
// 		font-size: 16px;
// 	}
// 	p {
// 		font-size: 12px;
// 	}
// }
