<div id="large-header" class="large-header spirale">
  <canvas id="demo-canvas"></canvas>
    <h1 class="main-title">
      <span class="thin">ORIZON</span>
      <p class="subtitle">La conformité de vos données n'a jamais été aussi simple</p>
    </h1>
</div>


<!-- Banner présentation de la réglementation -->
<div class="container first-step-content city-orizon">
  <div class="col-md-12 content-center">
    <h1>VOS OBLIGATIONS EN MATIÈRE DE DONNÉES PERSONNELLES ÉVOLUE. NOUS SOMMES LÀ POUR VOUS AIDER ET VOUS ACCOMPAGNER.</h1>
    <div class="text-1">
      <h3>Le règlement général sur la protection des données personnelles prévoit des sanctions très sévères en cas de manquement à ses prescriptions, pouvant aller jusqu’à 4 millions d’euros ou 20% du chiffre d’affaire annuel.</h3>
    </div>
    <div class="text-2">
      <h3>Orizon propose aux structures publiques (collectivités, établissements publics, associations…) et privées (TPE, ETI, PME…) une solution SaaS inédite de cartographie et de traitement des données personnelles en parfaite conformité au cadre défini par la réglementation européenne.</h3>
    </div>
    <div class="btn-contact">
      <%= link_to "FAIRE LE TEST DE CONFORMITÉ", question_path, class: "btn-blue" %>
    </div>
  </div>
</div>

<!-- Banner notre solution -->
<div class="container second-step-content">
  <div class="col-md-12">
    <h1>NOTRE SOLUTION</h1>
    <div class="mini-feature col-md-4">
      <img src="https://res.cloudinary.com/ddjlhkips/image/upload/v1513337439/data-protection_rcxefl.png">
      <h3 class="mini-feature-heading">Structurez vos données</h3>
      <p class="mini-feature-description">Maîtrisez vos données grâce à une cartographie intégrale de vos traitements de données personnelles.
      </p>
    </div>
    <div class="mini-feature col-md-4">
      <img alt="Apps" src="https://res.cloudinary.com/ddjlhkips/image/upload/v1513337439/conformite_j9s2lg.png">
      <h3 class="mini-feature-heading">Avancez en toute conformité</h3>
      <p class="mini-feature-description">Faites le choix de la conformité et reprenez le contrôle sur vos données personnelles.
      </p>
    </div>
    <div class="mini-feature col-md-4">
      <img src="https://res.cloudinary.com/ddjlhkips/image/upload/v1513337439/protegee_g1abdp.png">
      <h3 class="mini-feature-heading">Protégez vos activités</h3>
      <p class="mini-feature-description">Visualisez et gérez vos traitements de données personnelles en toute sécurité.
      </p>
    </div>
    </div>
  </div>
</div>

<!-- Banner présentation de la plateforme -->
<div class="container third-step-content">
  <div class="col-md-12">
    <h1>NOTRE PLATEFORME</h1>
    <div class="banner-plateforme-feature">
      <div class="col-md-6 banner-plateforme-feature-text">
        <div class="row">
          <div class="col-md-6 feature">
            <div class="feature-header">
              <img src="https://res.cloudinary.com/ddjlhkips/image/upload/v1513337439/data-protection_rcxefl.png">
              <h1>Sécurisée</h1>
            </div>
            <p>Aucun risque de piratage grâce à la technologie blockchain</p>
          </div>
          <div class="col-md-6 feature">
            <div class="feature-header">
              <img src="https://res.cloudinary.com/ddjlhkips/image/upload/v1513337439/data-protection_rcxefl.png">
              <h1>Sur-mesure</h1>
            </div>
            <p>Une plaforme adaptée à vos besoins à travers une interface sur mesure.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 feature">
            <div class="feature-header">
              <img src="https://res.cloudinary.com/ddjlhkips/image/upload/v1513337439/data-protection_rcxefl.png">
              <h1>Facile</h1>
            </div>
            <p>Laissez-vous guider par une prise en main simplifiée.</p>
          </div>
          <div class="col-md-6 feature">
            <div class="feature-header">
              <img src="https://res.cloudinary.com/ddjlhkips/image/upload/v1513337439/data-protection_rcxefl.png">
              <h1>Connectée</h1>
            </div>
            <p>Accédez à votre compte n’importe où et à n’importe quel moment.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="banner-plateforme-feature-photo hidden-xs">
          <img src="https://res.cloudinary.com/ddjlhkips/image/upload/v1513419879/Macbook-orizon_bhecxr.png">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Banner Contact -->
<div class="container fourth-step-content">
  <div class="col-md-12">
    <h1>NOUS CONTACTER</h1>

    <div class="container">
      <div class="simple-form">
        <form action="https://getsimpleform.com/messages?form_api_token=8e394b20a9f5ac1cf59a9b4e4ad2255b" method="post">
          <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
          <!-- <input type='hidden' name='redirect_to' value='http://localhost:3000' /> -->
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <input type='name' name='Nom' class='input-form first-form' placeholder="Nom" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <input type='name' name='Prénom' class='input-form first-form' placeholder="Prénom" />
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type='email' name='email' class='input-form' placeholder="Email"/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <input type='name' name='Téléphone' class='input-form' placeholder="Téléphone" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <input type='name' name='Structure' class='input-form' placeholder="Structure" />
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <input type='description' name='message' class='input-message' placeholder="Votre message">
          </div>
          <div class="col-xs-12 col-sm-4 col-sm-offset-4 btn-contact-form">
          <input type='submit' value='ENVOYER' class="btn-contact" />
          </div>
        </form>
      </div>
    </div>

  </div>
</div>


<!-- Footer -->
<div class="footer">
    <div class="container">
      <div class="footer-copyright">
        <h4>© 2017 Orizon Technologies. Tous droits réservés.</h4>
      </div>
    </div>
  <!-- <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div> -->

</div>
