a.navbar-brand {
  line-height: 25px !important;
    padding-top: 12px !important;
    white-space: nowrap !important;
    color: #fff !important;
    cursor: pointer !important;
    background: blue !important;
}
