.footer {
  display: flex;
  align-items: center;
  background-color: $footer;
  height: 130px;
  h4 {
    color: $text;
    font-size: 14px;
    font-weight: lighter;
    font-style: Montserrat;
  }
}
