.first-form {
  margin-top: 25px;
}
.input-form {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  border-bottom: 1px solid #bbbbbb;
  background-color: inherit;
  color: $blue-orizon;
  font-size: 19px;
  line-height: 23px;
  padding-bottom: 15px;
  margin-top: 50px;
}
.input-message {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  border-bottom: 1px solid #bbbbbb;
  background-color: inherit;
  color: $blue-orizon;
  font-size: 19px;
  line-height: 23px;
  padding-bottom: 15px;
  padding-top: 50px;
}
