---
title: Le Wagon - Middleman
---

<div id="large-header" class="large-header">
  <canvas id="demo-canvas"></canvas>
    <h1 class="main-title">
      <span class="thin">ORIZON</span>
      <p class="subtitle">Smart data for smart decisions</p>
    </h1>
</div>

<div class="home-content">

  <div class="mini-feature col-md-4">

    <!-- <div class="page-title-content"> -->
      <img data-src="/images/icons/lightbulb-f327aebd.svg" alt="Prediction" src="/images/icons/lightbulb-f327aebd.svg">
      <h3 class="mini-feature-heading">Stay in the know</h3>
      <p class="mini-feature-description"> Get better data about your buildings to make smarter decisions. Never receive a high energy bill and not know what caused it.
      </p>
    <!-- </div> -->

  </div>
  <div class="mini-feature col-md-4">

    <!-- <div class="page-title-content"> -->
      <img data-src="/images/icons/linegraph-14bd9c8e.svg" alt="Real-time" src="/images/icons/linegraph-14bd9c8e.svg">
      <h3 class="mini-feature-heading">Optimize for efficiency</h3>
      <p class="mini-feature-description"> Turn data into actionable insights. Find out where you can reduce operating costs while making your buildings work more efficienctly.
      </p>
    <!-- </div> -->

  </div>
  <div class="mini-feature col-md-4">

    <!-- <div class="page-title-content"> -->
      <img data-src="/images/icons/gear-569206eb.svg" alt="Apps" src="/images/icons/gear-569206eb.svg">
      <h3 class="mini-feature-heading">Automate for cost savings</h3>
      <p class="mini-feature-description"> Get your time back and let us do the hard work; reduce your energy costs by using our technology to forecast your energy needs and automated your demand response.
      </p>
    <!-- </div> -->

  </div>
</div>


<!-- <div class="section mini-features">
  <div class="container">
    <div class="row">
      <div class="mini-feature col-md-8">
          <img data-src="/images/icons/lightbulb-f327aebd.svg" alt="Prediction" src="/images/icons/lightbulb-f327aebd.svg">
          <h3 class="mini-feature-heading">Stay in the know</h3>
          <p class="mini-feature-description"> Get better data about your buildings to make smarter decisions. Never receive a high energy bill and not know what caused it.
          </p>
      </div>
      <div class="mini-feature col-md-4">
        <img data-src="/images/icons/linegraph-14bd9c8e.svg" alt="Real-time" src="/images/icons/linegraph-14bd9c8e.svg">
        <h3 class="mini-feature-heading">Optimize for efficiency</h3>
        <p class="mini-feature-description"> Turn data into actionable insights. Find out where you can reduce operating costs while making your buildings work more efficienctly.
        </p>
      </div>
      <div class="mini-feature col-md-4">
        <img data-src="/images/icons/gear-569206eb.svg" alt="Apps" src="/images/icons/gear-569206eb.svg">
        <h3 class="mini-feature-heading">Automate for cost savings</h3>
        <p class="mini-feature-description"> Get your time back and let us do the hard work; reduce your energy costs by using our technology to forecast your energy needs and automated your demand response.
        </p>
      </div>
    </div>
  </div>
</div> -->
