---
title: Orizon - Accueil
---

<div id="large-header" class="large-header">
  <canvas id="demo-canvas"></canvas>
    <h1 class="main-title">
      <span class="thin">ORIZON</span>
      <p class="subtitle">Smart data for smart decisions</p>
    </h1>
</div>


<!-- Banner première étape -->
<div class="container first-step-content">
  <div class="col-md-12">
    <h2>Vous découvrez le Règlement Général sur la Protection des Données et n’avez aucune idée de ce qu’il va impliquer pour votre entreprise ?</h2>
    <h3>Orizon vous propose 4 étapes pour comprendre ses enjeux et vous faciliter votre mise en conformité.</h3>
    <h1>Etape 1 : <span class="blue">Testez votre conformité au RGPD</span> </h1>
    <h3>Testez vos pratiques et évaluez les actions à mettre en œuvre.</h3>
    <div class="btn-center">
      <a href="" class="btn-blue">NOUS CONTACTER</a>
    </div>
  </div>
</div>

<!-- Banner deuxième étape -->
<div class="container second-step-content">
  <div class="col-md-12">
    <h1>Etape 2 : <span class="blue">Les sanctions</span> </h1>
    <div class="sanction col-xs-12 col-sm-6 col-lg-6">
      <div class="card-sanction">
        <h3>Sanctions administratives</h3>
        <ul>
          <li>Avertissement</li>
          <li>Mise en demeure</li>
          <li>Limitation de traitement</li>
          <li>Suspension des flux de données</li>
          <li>Ordonner de satisfaire aux demandes d'exercice des droits des personnes</li>
          <li>Ordonner la rectification, la limitation ou l'effacement des données.</li>
        </ul>
      </div>
    </div>
    <div class="sanction col-xs-12 col-sm-6 col-lg-6">
      <div class="card-sanction">
        <h3>Sanctions financières</h3>
        <div class="sanctions-financières">
          <p>Selon la catégorie de l’infraction :</p>
          <ul>
            <li>10 ou 20 millions d'euros</li>
          </ul>
          <p>Dans le cas d'une entreprise :</p>
          <ul>
            <li>de 2% jusqu’à 4% du chiffre d'affaires annuel mondial</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Banner troisième étape -->
<div class="container third-step-content">
  <div class="col-md-12">
    <h1>Etape 3 : <span class="blue">Les 7 principes à respecter</span> </h1>
    <div class="row">
      <div class="principles col-md-4 col-sm-6 col-xs-12">
        <div class="grid">
        	<figure class="effect-bubba">
        		<figcaption>
        			<h1>1</h1>
              <h2><span>Accountability</span></h2>
        			<p>La charge de la preuve de la conformité est à la charge de l’entreprise. Cela implique de documenter tous les processus et mesures mis en oeuvre.</p>
        			<a href="#">View more</a>
        		</figcaption>
        	</figure>
        </div>
      </div>
      <div class="principles col-md-4 col-sm-6 col-xs-12">
        <div class="grid">
        	<figure class="effect-bubba">
        		<figcaption>
        			<h1>2</h1>
              <h2><span>Principe de licéité</span></h2>
        			<p>Les données à caractère personnel ne peuvent être recueillies et traitées que pour un usage déterminé et légitime, correspondant aux missions du responsable du traitement.</p>
        			<a href="#">View more</a>
        		</figcaption>
        	</figure>
        </div>
      </div>
      <div class="principles col-md-4 col-sm-6 col-xs-12">
        <div class="grid">
        	<figure class="effect-bubba">
        		<figcaption>
        			<h1>3</h1>
              <h2><span>Principe de minimisation</span></h2>
        			<p>Seules les données strictement nécessaires à la finalité du traitement peuvent être collectées.</p>
        			<a href="#">View more</a>
        		</figcaption>
        	</figure>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="principles col-md-4 col-sm-6 col-xs-12">
        <div class="grid">
        	<figure class="effect-bubba">
        		<figcaption>
        			<h1>4</h1>
              <h2><span>Principe de conservation limitée</span></h2>
        			<p>Les données personnelles ne peuvent être conservées que le temps nécessaire à l'exécution du traitement.</p>
        			<a href="#">View more</a>
        		</figcaption>
        	</figure>
        </div>
      </div>
      <div class="principles col-md-4 col-sm-6 col-xs-12">
        <div class="grid">
        	<figure class="effect-bubba">
        		<figcaption>
        			<h1>5</h1>
              <h2><span>Principe de sécurité</span></h2>
        			<p>Toutes les mesures nécessaires à la sécurisation des données personnelles (confidentialité, intégrité, disponibilité) doivent être mises en place.</p>
        			<a href="#">View more</a>
        		</figcaption>
        	</figure>
        </div>
      </div>
      <div class="principles col-md-4 col-sm-6 col-xs-12">
        <div class="grid">
        	<figure class="effect-bubba">
        		<figcaption>
        			<h1>6</h1>
              <h2><span>Principe de security by design</span></h2>
        			<p>La sécurité des données personnelles doit être prise en compte dès la phase de conception de toute activité (services, développement applicatif, etc.).</p>
        			<a href="#">View more</a>
        		</figcaption>
        	</figure>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="principles col-md-4 col-sm-6 col-xs-12">
        </div>
        <div class="principles col-md-4 col-sm-6 col-xs-12">
          <div class="grid">
            <figure class="effect-bubba">
              <figcaption>
                <h1>7</h1>
                <h2><span>Principe d'information</span></h2>
                <p>Les personnes doivent être informées de leurs droits et consentir explicitement à la collecte et au traitement de leurs données personnelles.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="principles col-md-4 col-sm-6 col-xs-12">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Banner quatrième étape -->
<div class="container fourth-step-content">
  <div class="col-md-12">
    <h1>Etape 4 : <span class="blue">Nos solutions</span></h1>
    <h2>Orizon vous accompagne dans votre mise en conformité au RGPD au travers de prestations sur mesure et de solutions clés en main pour garantir la protection de vos données personnelles.</h2>
    <div class="btn-center">
      <a href="" class="btn-blue">NOS SOLUTIONS</a>
    </div>
  </div>
</div>


<!-- Banner des témoignages -->
<!-- <div class="container plateforme-content">
  <div class="col-md-12">
    <h1>Témoignages</h1>
  </div>
  <div class="mini-feature col-md-4">
    <img data-src="/images/lightbulb-f327aebd.svg" alt="Prediction" src="/images/lightbulb-f327aebd.svg">
    <h3 class="mini-feature-heading">Simplicité</h3>
    <p class="mini-feature-description"> Get better data about your buildings to make smarter decisions. Never receive a high energy bill and not know what caused it.
    </p>
  </div>
  <div class="mini-feature col-md-4">
    <img data-src="/images/linegraph-14bd9c8e.svg" alt="Real-time" src="/images/linegraph-14bd9c8e.svg">
    <h3 class="mini-feature-heading">Évolutif</h3>
    <p class="mini-feature-description"> Turn data into actionable insights. Find out where you can reduce operating costs while making your buildings work more efficienctly.
    </p>
  </div>
  <div class="mini-feature col-md-4">
    <img data-src="/images/gear-569206eb.svg" alt="Apps" src="/images/gear-569206eb.svg">
    <h3 class="mini-feature-heading">Sécurisé</h3>
    <p class="mini-feature-description"> Get your time back and let us do the hard work; reduce your energy costs by using our technology to forecast your energy needs and automated your demand response.
    </p>
  </div>
</div> -->

<!-- Footer -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fa fa-heart"></i> at Paris
  </div>
</div>
