---
title: Le Wagon - Middleman
---

<div id="large-header" class="large-header">
  <canvas id="demo-canvas"></canvas>
    <h1 class="main-title">
      <span class="thin">ORIZON</span>
      <p class="subtitle">Smart data for smart decisions</p>
    </h1>
</div>

<!-- Banner de présentation de la plateforme avec 3 colonnes -->
<div class="container plateforme-content">
  <div class="col-md-12">
    <h1>Une plateforme de gestion des données</h1>
  </div>
  <div class="mini-feature col-md-4">
    <img data-src="/images/lightbulb-f327aebd.svg" alt="Prediction" src="/images/lightbulb-f327aebd.svg">
    <h3 class="mini-feature-heading">Optimisez votre conformité</h3>
    <p class="mini-feature-description">Orizon vous permet d’améliorer la conformité et le contrôle sur vos données pour travailler plus efficacement.
    </p>
  </div>
  <div class="mini-feature col-md-4">
    <img data-src="/images/linegraph-14bd9c8e.svg" alt="Real-time" src="/images/linegraph-14bd9c8e.svg">
    <h3 class="mini-feature-heading">Evoluez avec efficacité</h3>
    <p class="mini-feature-description">Orizon vous permet de cartographier, visualiser, signaler et gérer vos traitements de données personnelles.
    </p>
  </div>
  <div class="mini-feature col-md-4">
    <img data-src="/images/gear-569206eb.svg" alt="Apps" src="/images/gear-569206eb.svg">
    <h3 class="mini-feature-heading">Gagnez en sécurité</h3>
    <p class="mini-feature-description">Orizon vous permet de visualiser et gérer vos traitements de données personnelles de manière sécurisé.
    </p>
  </div>
</div>

<div class="container plateforme-feature">
  <div class="col-md-12">
    <h1>PLATEFORME</h1>
  </div>
  <div class="col-md-12">
    <p>Accédez aux analyses de vos données partout et à n'importe quel moment</p>
  </div>
  <div class="container">
    <div class="plateforme-feature-mini col-md-6">
      <img data-src="/images/notification.svg" alt="Prediction" src="/images/notification.svg">
      <div class="plateforme-feature-content">
        <h3 class="plateforme-feature-mini-heading">Simplicité</h3>
        <p class="plateforme-feature-mini-description"> Get better data about your buildings to make smarter decisions. Never receive a high energy bill and not know what caused it.
        </p>
      </div>
    </div>
    <div class="plateforme-feature-mini col-md-6">
      <img data-src="/images/brain.svg" alt="Real-time" src="/images/brain.svg">
      <div class="plateforme-feature-content">
        <h3 class="plateforme-feature-mini-heading">Évolutif</h3>
        <p class="plateforme-feature-mini-description"> Turn data into actionable insights. Find out where you can reduce operating costs while making your buildings work more efficienctly.
        </p>
      </div>
    </div>
  </div>
  <div class=" container col-xs-12 hidden-xs ipad-image-container">
    <img class<="col-md-6" data-src="/images/ipad-plateforme.png" alt="Real-time" src="/images/ipad-plateforme.png">
  </div>
</div>

<!-- Banner de présentation de la formation -->
<!-- <div class="container formation-content">
  <div class="col-md-12">
    <h1>Formations</h1>
  </div>
  <div class="mini-formation col-md-6">
    <img data-src="/images/lightbulb-f327aebd.svg" alt="Prediction" src="/images/lightbulb-f327aebd.svg">
    <h3 class="mini-feature-heading">Simplicité</h3>
    <p class="mini-feature-description"> Get better data about your buildings to make smarter decisions. Never receive a high energy bill and not know what caused it.
    </p>
  </div>
  <div class="mini-formation col-md-6">
    <div class="mini-formation-content">
      <img data-src="/images/linegraph-14bd9c8e.svg" alt="Real-time" src="/images/linegraph-14bd9c8e.svg">
      <div class="mini-formation-feature-content">
        <h3 class="plateforme-feature-mini-heading">Évolutif</h3>
        <p class="plateforme-feature-mini-description"> Turn data into actionable insights. Find out where you can reduce operating costs while making your buildings work more efficienctly.
        </p>
      </div>
    </div>
    <div class="mini-formation-content">
      <img data-src="/images/linegraph-14bd9c8e.svg" alt="Real-time" src="/images/linegraph-14bd9c8e.svg">
      <div class="mini-formation-feature-content">
        <h3 class="plateforme-feature-mini-heading">Évolutif</h3>
        <p class="plateforme-feature-mini-description"> Turn data into actionable insights. Find out where you can reduce operating costs while making your buildings work more efficienctly.
        </p>
      </div>
    </div>
  </div>
</div> -->

<!-- Banner des témoignages -->
<!-- <div class="container plateforme-content">
  <div class="col-md-12">
    <h1>Témoignages</h1>
  </div>
  <div class="mini-feature col-md-4">
    <img data-src="/images/lightbulb-f327aebd.svg" alt="Prediction" src="/images/lightbulb-f327aebd.svg">
    <h3 class="mini-feature-heading">Simplicité</h3>
    <p class="mini-feature-description"> Get better data about your buildings to make smarter decisions. Never receive a high energy bill and not know what caused it.
    </p>
  </div>
  <div class="mini-feature col-md-4">
    <img data-src="/images/linegraph-14bd9c8e.svg" alt="Real-time" src="/images/linegraph-14bd9c8e.svg">
    <h3 class="mini-feature-heading">Évolutif</h3>
    <p class="mini-feature-description"> Turn data into actionable insights. Find out where you can reduce operating costs while making your buildings work more efficienctly.
    </p>
  </div>
  <div class="mini-feature col-md-4">
    <img data-src="/images/gear-569206eb.svg" alt="Apps" src="/images/gear-569206eb.svg">
    <h3 class="mini-feature-heading">Sécurisé</h3>
    <p class="mini-feature-description"> Get your time back and let us do the hard work; reduce your energy costs by using our technology to forecast your energy needs and automated your demand response.
    </p>
  </div>
</div> -->

<!-- Footer -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fa fa-heart"></i> at Paris
  </div>
</div>
