<!-- Banner de présentation de la solution avec 3 colonnes -->
<div class="container solution-content">
  <div class="col-md-12">
    <h1>Une solution de gestion des données</h1>
  </div>
  <div class="mini-feature col-md-4">
    <img data-src="/images/lightbulb-f327aebd.svg" alt="Prediction" src="/images/lightbulb-f327aebd.svg">
    <h3 class="mini-feature-heading">Optimisez votre conformité</h3>
    <p class="mini-feature-description">Orizon vous permet d’améliorer la conformité et le contrôle sur vos données pour travailler plus efficacement.
    </p>
  </div>
  <div class="mini-feature col-md-4">
    <img data-src="/images/linegraph-14bd9c8e.svg" alt="Real-time" src="/images/linegraph-14bd9c8e.svg">
    <h3 class="mini-feature-heading">Evoluez avec efficacité</h3>
    <p class="mini-feature-description">Orizon vous permet de cartographier, visualiser, signaler et gérer vos traitements de données personnelles.
    </p>
  </div>
  <div class="mini-feature col-md-4">
    <img data-src="/images/gear-569206eb.svg" alt="Apps" src="/images/gear-569206eb.svg">
    <h3 class="mini-feature-heading">Gagnez en sécurité</h3>
    <p class="mini-feature-description">Orizon vous permet de visualiser et gérer vos traitements de données personnelles de manière sécurisé.
    </p>
  </div>
</div>

<!-- Banner présentation Ipad -->
<div class="container solution-feature">
  <div class="col-md-12">
    <h1>PLATEFORME</h1>
  </div>
  <div class="col-md-12">
    <p>Accédez aux analyses de vos données partout et à n'importe quel moment</p>
  </div>
  <div class="container">
    <div class="solution-feature-mini col-md-6">
      <img data-src="/images/notification.svg" alt="Prediction" src="/images/notification.svg">
      <div class="solution-feature-content">
        <h3 class="solution-feature-mini-heading">Simplicité</h3>
        <p class="solution-feature-mini-description"> Get better data about your buildings to make smarter decisions. Never receive a high energy bill and not know what caused it.
        </p>
      </div>
    </div>
    <div class="solution-feature-mini col-md-6">
      <img data-src="/images/brain.svg" alt="Real-time" src="/images/brain.svg">
      <div class="solution-feature-content">
        <h3 class="solution-feature-mini-heading">Évolutif</h3>
        <p class="solution-feature-mini-description"> Turn data into actionable insights. Find out where you can reduce operating costs while making your buildings work more efficienctly.
        </p>
      </div>
    </div>
  </div>
  <div class=" container col-xs-12 hidden-xs ipad-image-container">
    <img class<="col-md-6" data-src="/images/ipad-solution.png" alt="Real-time" src="/images/ipad-solution.png">
  </div>
</div>

<!-- Banner de présentation de la formation -->
<!-- <div class="container formation-content">
  <div class="col-md-12">
    <h1>Formations</h1>
  </div>
  <div class="mini-formation col-md-6">
    <img data-src="/images/lightbulb-f327aebd.svg" alt="Prediction" src="/images/lightbulb-f327aebd.svg">
    <h3 class="mini-feature-heading">Simplicité</h3>
    <p class="mini-feature-description"> Get better data about your buildings to make smarter decisions. Never receive a high energy bill and not know what caused it.
    </p>
  </div>
  <div class="mini-formation col-md-6">
    <div class="mini-formation-content">
      <img data-src="/images/linegraph-14bd9c8e.svg" alt="Real-time" src="/images/linegraph-14bd9c8e.svg">
      <div class="mini-formation-feature-content">
        <h3 class="solution-feature-mini-heading">Évolutif</h3>
        <p class="solution-feature-mini-description"> Turn data into actionable insights. Find out where you can reduce operating costs while making your buildings work more efficienctly.
        </p>
      </div>
    </div>
    <div class="mini-formation-content">
      <img data-src="/images/linegraph-14bd9c8e.svg" alt="Real-time" src="/images/linegraph-14bd9c8e.svg">
      <div class="mini-formation-feature-content">
        <h3 class="solution-feature-mini-heading">Évolutif</h3>
        <p class="solution-feature-mini-description"> Turn data into actionable insights. Find out where you can reduce operating costs while making your buildings work more efficienctly.
        </p>
      </div>
    </div>
  </div>
</div> -->
